## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Praia,CV,79.97,overcast clouds,14.9215,-23.5087,LT Aparthotel
1,3,Jamestown,US,72.72,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,4,Puerto Ayora,EC,70.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,6,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
4,15,Kalaleh,IR,76.60,overcast clouds,37.3807,55.4916,کلاله

In [ ]:
!jupyter nbextension enable --py widgetsnbextension
!jupyter nbextension enable --py gmaps

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
direction_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route 
#to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Fortuna"]
vacation_end = vacation_df.loc[vacation_df['City']=="Fortuna"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Pacific Grove"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Guerrero Negro"]
vacation_stop3 = vacation_df.loc[vacation_df['City']=="San Quintin"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
41,178,Fortuna,US,70.93,few clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each 
#city DataFrame using the to_numpy function and list indexing.
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html
start = vacation_start.to_numpy()[0,5],vacation_start.to_numpy()[0,6]
end = vacation_end.to_numpy()[0,5],vacation_end.to_numpy()[0,6]
stop1 = vacation_stop1.to_numpy()[0,5],vacation_stop1.to_numpy()[0,6]
stop2 = vacation_stop2.to_numpy()[0,5],vacation_stop2.to_numpy()[0,6]
stop3 = vacation_stop3.to_numpy()[0,5],vacation_stop3.to_numpy()[0,6]
start

(40.5982, -124.1573)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. 
#The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols# 
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], 
                                      travel_mode="DRIVING")
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html?highlight=pd%20concat
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,178,Fortuna,US,70.93,few clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
1,178,Fortuna,US,70.93,few clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,273,Pacific Grove,US,74.55,clear sky,36.6177,-121.9166,Lovers Point Inn
3,104,Guerrero Negro,MX,75.56,scattered clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
4,217,San Quintin,MX,72.73,scattered clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center

In [25]:
# 9 Using the template add city name, the country code, 
#the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))